# Paper?
*.pdf

# Output files
/out_py
/out
/outputs_time
/iterate.dat
*.class

# Data files
/data

# Python compiled files
*.pyc

# LaTeX compiled files
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lol
*.lot
*.out
*.pre
*.synctex.gz
*.toc
*.x.gnuplot

# Swap files
*.sw?

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
